
@{
    ViewBag.Title = "CadastrarEditora";
}

<h2>Cadastro de editora</h2>

<form action="/Editora/CadastrarEditora">
    <div class="form-group">

        <label>Nome:</label>
        <input class="form-control" name="Nome" id="Nome" />

    </div>


    <div class="form-group">

        <label>Telefone:</label>
        <input class="form-control" name="Telefone" id="Telefone" />

    </div>

    <div class="form-group">

        <label>Email:</label>
        <input class="form-control" name="Email" id="Email" />

    </div>

    <div class="form-group">

        <label>Observações:</label>
        <input class="form-control" name="Observacoes" id="Observacoes" />

    </div>

    <input class="btn btn-success" type="submit" value="Salvar" />


</form>