
@{
    ViewBag.Title = "Cadastrar Editora";
}

<h2>Cadastro de editora</h2>
<hr />
@if (ViewBag.ResultadoCadastroSucesso != null)
{
    <div class="alert alert-sucess" role="alert">@ViewBag.ResultadoCadastroSucesso</div>
}
else if (ViewBag.ResultadoCadastro != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.ResultadoCadastro</div>
}



<form action="/Editora/CadastrarEditora" method="post">
    <div class="form-group">

        <label>Nome:</label>
        <input class="form-control" name="NomeEditora" id="NomeEditora" placeholder="Nome" />

    </div>


    <div class="form-group">

        <label>Telefone:</label>
        <input class="form-control" name="Telefone" id="Telefone" placeholder="Telefone" />

    </div>

    <div class="form-group">

        <label>Email:</label>
        <input class="form-control" name="Email" id="Email" placeholder="Email" />

    </div>

    <div class="form-group">

        <label>Observações:</label>
        <textarea class="form-control" name="Observacoes" id="Observacoes" placeholder="Insira aqui as suas observações"></textarea>

    </div>

    <input class="btn btn-danger" type="submit" value="Salvar" />


</form>